{% extends "base.html" %}
{% load staticfiles %}
{% block title %}MultiChat Example{% endblock %}
{% block header_text %}MultiChat Example{% endblock %}

{% block extra_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
{% endblock %}
{% block content %}

    <ul class="rooms">
        {% for user in user_obj %}
        <li class="room-link" data-room-id="{{ user.id }}"><a href="">{{ user.username }}</a></li>
        {% empty %}
            <p class="empty">Add User for chating <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>

    <div id="chats">
    </div>

{% endblock %}
