{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css" media="screen" />
		<link href="{% static 'libs/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
		<link class="elegant-icon" href="{% static '/libs/elegant-icons/css/style.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'libs/normalize-css/normalize.css' %}" rel="stylesheet">
		<link href="{% static 'libs/rippler-master/dist/css/rippler.min.css' %}" rel="stylesheet">
		<link href="{% static 'libs/jquery-ui-1.12.1/jquery-ui.css' %}" rel="stylesheet">

        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

        <script src="{% static 'libs/jquery/dist/jquery.min.js?v=3.1.1' %}"></script>
        <script src="{% static 'libs/jquery-ui-1.12.1/jquery-ui.js?v=1.12.1' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>{% block header_text %}{% endblock %}</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    {% block extra_body %}{% endblock %}
</body>
</html>